/* variables */
$full: 100%;
$half: 50%;
$width: 960px;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;
$offset: absolute;
$rel: relative;
$hidden: hidden;
$inlineBlock: inline-block;
$notoSans: 'Noto Sans Korean';
$pretendard: 'Pretendard';